framework: 47
generate_load_scripts: true

source https://nuget.org/api/v2
source https://www.myget.org/F/zenprotocol/api/v3/index.json

nuget BouncyCastle
nuget FAKE ~> 4
nuget FsBech32 >= 0.1.0.7
nuget FsCheck
nuget FSharp.Compatibility.OCaml
nuget FSharpx.Collections
nuget NUnit
nuget Zen.FSharp.Compiler.Service 17.0.2
nuget ZFStar 0.0.27-alpha002

nuget zen_z3_linux 4.5.1.8-v1f29cebd4df
nuget zen_z3_osx 4.5.1.8-v1f29cebd4df6
nuget zen_z3_windows 4.5.1.7-v1f29cebd4df

group MetadataFix
    framework: 47 
    generate_load_scripts: true

    source https://nuget.org/api/v2

    nuget System.Reflection.Metadata 1.4.1.0

